body{
           font-size:18px;
           font-weight: 400;
       }
.p-y-2 {
padding-top: 28px;
padding-bottom: 28px;
}
.p-y-3 {
padding-top: 45px;
padding-bottom: 45px;
}
.m-b-1 {
margin-bottom: 18px;
}
.m-t-1 {
margin-top: 18px;
}


       /*==========================================================
                      counter section style
       ============================================================*/

       .main_counter_area{

           background-size: cover;
           overflow: hidden;
       }
       .main_counter_area .main_counter_content .single_counter{

             color: rgba(#1f1313, 0.88);
       }
       .main_counter_area .main_counter_content .single_counter i{
           font-size:36px;
           font-family: 'Montserrat';
           font-weight: 500;

       }
       h2.statistic-counter
       {
         font-size: 80px;
       }
